.books_hover {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.swiper {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 70px 0;

    .jcsb {
        padding: 0 120px;

        h1 {
            font-size: 30px;
            font-weight: 500;

        }
    }
}


.swiper-container {
    width: 100%;
    display: flex;
    gap: 0;
}

.swiper-wrapper {
    width: 100%;
    gap: 0;
}

.swiper-slide {
    width: 100%;
    padding: 0 120px;
}