
body{
    background-color: white;
}

::-webkit-scrollbar{
    width: 0;
}

.d404{
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    color: #252836;
}
.d404 p a{
    color: #252836;
}

.d404 img{
    width: 400px;
}

.not_found{
    display: flex;
}

.notifications_page{
    display: flex;
}